In [1]:
import pandas as pd

In [57]:
df=pd.read_excel("E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/bencana_dan_wilayah_24032023_231519.xlsx")

In [58]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tanah Longsor, Indonesia, 2023",NaN,NaN,NaN,NaN
2,NaN,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
4,NaN,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14),(15),(16)
5,NaN,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,NaN,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,NaN,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,NaN,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,NaN,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,NaN,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,NaN,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,NaN,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,NaN,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,NaN,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
15,NaN,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [60]:
df.columns = df.iloc[3]

In [61]:
df

3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tanah Longsor, Indonesia, 2023",NaN,NaN,NaN,NaN
2,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
4,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14),(15),(16)
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
15,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df = df.drop([0,1,2,3,4], axis=0)
df

3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
15,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df = df.reset_index(drop=True)

In [64]:
# change column names
df.columns = ['Wilayah', 'Jumlah', 'Meninggal', 'Hilang', 'Terluka', 'Menderita', 'Mengungsi', 'Rumah', 'Pendidikan', 'Kesehatan', 'Peribadatan', 'Fasum', 'Perkantoran', 'Jembatan', 'Pabrik', 'Kios']
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
9,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
10,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
#Drop column yang ada di row terakhir
to_drop = ["Bidang Pengelolaan Data dan Sistem Informasi (PDSI),",
           "Pusat Data Informasi dan Komunikasi Kebencanaan (Pusdatinkom),",
           "Badan Nasional Penanggulangan Bencana (BNPB)",
           "Jumlah"]
df = df[~df.iloc[:,0].isin(to_drop)]
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0

In [14]:
df.to_csv("E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/bencana_dan_wilayah_24032023_231519.csv")

In [10]:
df = df.drop(df[df['Unnamed: 1'].isna() | (df['Unnamed: 1'] == 'Bidang Pengelolaan Data dan Sistem Informasi')].index)

In [11]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14),(15),(16)
5,NaN,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,NaN,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,NaN,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,NaN,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,NaN,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,NaN,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,NaN,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,NaN,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,NaN,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,NaN,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
15,NaN,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Merge row 2 and 3
df = pd.concat([df.iloc[2], df.iloc[3]], axis=1).T

# Reset the index
df = df.reset_index(drop=True)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios

In [7]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios

In [55]:
# Drop column "Unnamed: 0"
df.drop(1, axis=1, inplace=True)

KeyError: '[1] not found in axis'

In [56]:
df

3,NaN,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
5,NaN,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,NaN,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,NaN,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,NaN,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,NaN,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,NaN,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,NaN,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,NaN,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,NaN,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,NaN,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0
15,NaN,Bidang Pengelolaan Data dan Sistem Informasi (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Pusat Data Informasi dan Komunikasi Kebencanaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Badan Nasional Penanggulangan Bencana (BNPB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
to_drop = ["Bidang Pengelolaan Data dan Sistem Informasi (PDSI),",
           "Pusat Data Informasi dan Komunikasi Kebencanaan (Pusdatinkom),",
           "Badan Nasional Penanggulangan Bencana (BNPB)"]
df = df[~df.iloc[:,0].isin(to_drop)]

In [20]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tanah Longsor, Indonesia, 2023",NaN,NaN,NaN,NaN
2,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
4,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12),(13),(14),(15),(16)
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [22]:
df = df.drop(1, axis=0)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [24]:
df_prepros = df.drop(0) # drop rows
# df_prepros = df_prepros.drop(columns=['Unnamed: 0']) # drop column
df_prepros = df_prepros.set_index(['Unnamed: 2', 'Unnamed: 3']) # set multi-level index
df_prepros.index.names = ['Wilayah', 'Jumlah'] # set index names

In [25]:
df_prepros

                                Unnamed: 1 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
Wilayah Jumlah
Jumlah  Korban                     Wilayah        NaN        NaN        NaN
NaN     Meninggal                      NaN     Hilang    Terluka  Menderita
1       0               12. Sumatera Utara          0          0          0
3       0             16. Sumatera Selatan          0          0          5
1       0                      18. Lampung          0          0          0
        46              21. Kepulauan Riau          8          4          0
6       0                   32. Jawa Barat          0          0          0
37      0                  33. Jawa Tengah          0          0          0
22      0                   35. Jawa Timur          0          1          0
1       0          53. Nusa Tenggara Timur          0          0          0
4       0             61. Kalimantan Barat          0          0          0
76      46                          Jumlah          8          5          5

                  Unnamed: 7 Unnamed: 8  Unnamed: 9 Unnamed: 10  Unnamed: 11  \
Wilayah Jumlah
Jumlah  Korban           NaN  Kerusakan         NaN         NaN          NaN
NaN     Meninggal  Mengungsi      Rumah  Pendidikan   Kesehatan  Peribadatan
1       0                  0          0           0           0            0
3       0                  1          5           0           0            0
1       0                  0          4           0           0            0
        46              2240         30           0           0            0
6       0                  0          0           0           0            0
37      0                  0         17           0           0            1
22      0                  0         15           0           0            0
1       0                  0          0           0           0            0
4       0                  0         13           0           0            0
76      46              2241         84           0           0            1

                  Unnamed: 12  Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16
Wilayah Jumlah
Jumlah  Korban            NaN          NaN         NaN         NaN         NaN
NaN     Meninggal       Fasum  Perkantoran    Jembatan      Pabrik        Kios
1       0                   0            0           0           0           0
3       0                   0            0           0           0           0
1       0                   0            0           0           0           0
        46                  0            0           0           0           0
6       0                   0            0           0           0           0
37      0                   1            0           1           0           0
22      0                   0            0           1           0           0
1       0                   0            0           0           0           0
4       0                   0            0           0           0           0
76      46                  1            0           2           0           0

In [26]:
df.columns = df.iloc[2]

In [27]:
df

3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,Statistik Bencana Menurut Wilayah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilayah,Jumlah,Korban,NaN,NaN,NaN,NaN,Kerusakan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [29]:
df = df.drop([0,2,3])

In [30]:
df

3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
5,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
7,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
8,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
9,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
11,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
12,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
14,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [31]:
df = df.reset_index(drop=True)

In [32]:
df

3,NaN,NaN,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
9,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [33]:
df.to_csv("E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/bencana_dan_wilayah_24032023_231519.csv")

In [36]:
# change column names
df.columns = ['Wilayah', 'Jumlah', 'Meninggal', 'Hilang', 'Terluka', 'Menderita', 'Mengungsi', 'Rumah', 'Pendidikan', 'Kesehatan', 'Peribadatan', 'Fasum', 'Perkantoran', 'Jembatan', 'Pabrik', 'Kios']

# change index names
df = df.rename(index={0: '', 1: 'Wilayah', 2: 'Jumlah'})

# reset index
df = df.reset_index(drop=True)

In [37]:
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,12. Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,16. Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,18. Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,21. Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,32. Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,33. Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,35. Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,53. Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,61. Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
9,Jumlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [38]:
df['Wilayah'] = df['Wilayah'].apply(lambda x: x[x.find('. ')+2:])

In [39]:
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0
9,umlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0

In [40]:
df.drop(9)

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios
0,Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0
2,Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0
3,Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0
4,Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0
6,Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0
7,Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0

In [41]:
df['Jenis Bencana'] = 'Tanah Longsor'
df['Tahun'] = 2023

In [42]:
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios,Jenis Bencana,Tahun
0,Sumatera Utara,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Tanah Longsor,2023
1,Sumatera Selatan,3,0,0,0,5,1,5,0,0,0,0,0,0,0,0,Tanah Longsor,2023
2,Lampung,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0,Tanah Longsor,2023
3,Kepulauan Riau,1,46,8,4,0,2240,30,0,0,0,0,0,0,0,0,Tanah Longsor,2023
4,Jawa Barat,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Tanah Longsor,2023
5,Jawa Tengah,37,0,0,0,0,0,17,0,0,1,1,0,1,0,0,Tanah Longsor,2023
6,Jawa Timur,22,0,0,1,0,0,15,0,0,0,0,0,1,0,0,Tanah Longsor,2023
7,Nusa Tenggara Timur,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Tanah Longsor,2023
8,Kalimantan Barat,4,0,0,0,0,0,13,0,0,0,0,0,0,0,0,Tanah Longsor,2023
9,umlah,76,46,8,5,5,2241,84,0,0,1,1,0,2,0,0,Tanah Longsor,2023

In [46]:
df.to_csv("E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/df_TanahLongsor_2023.csv")

In [71]:
file_path = "E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/Puting Beliung_2022.xlsx"

In [72]:
import os

In [73]:
file_name = os.path.splitext(os.path.basename(file_path))[0]

In [74]:
year = file_name.split('_')[1]

In [76]:
disaster = file_name.split('_')[0]

disaster

In [75]:
year

'2022'

In [1]:
from Preprocess import processing_data

In [3]:
path_file= "E:/tugas_koko/Mencari_Kerja/Kerjaan/Data/Puting Beliung_2022.xlsx"

In [4]:
df =processing_data(path_file)

In [5]:
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios,Jenis Bencana,Tahun
0,Aceh,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Puting Beliung,2022
1,Sumatera Utara,19,0,0,0,3652,0,803,0,0,0,8,0,0,0,0,Puting Beliung,2022
2,Sumatera Barat,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Puting Beliung,2022
3,Sumatera Selatan,63,0,0,11,171,84,669,2,2,1,7,15,0,0,2,Puting Beliung,2022
4,Lampung,3,0,0,0,100,0,28,0,0,0,0,0,0,0,0,Puting Beliung,2022
5,Bangka Belitung,24,0,0,0,52,183,174,1,0,1,0,1,0,0,0,Puting Beliung,2022
6,Kepulauan Riau,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,Puting Beliung,2022
7,Jawa Barat,88,0,0,1,263,4,542,0,0,0,5,0,0,0,7,Puting Beliung,2022
8,Jawa Tengah,316,1,0,10,33,31,1267,16,3,11,29,1,1,6,17,Puting Beliung,2022
9,Jawa Timur,78,0,0,6,0,11,231,4,0,2,1,2,0,2,16,Puting Beliung,2022
10,Nusa Tenggara Barat,1,0,0,0,0,10,10,0,0,0,0,0,0,0,0,Puting Beliung,2022
11,Kalimantan Selatan,1,0,0,0,27,0,1,0,0,0,0,0,0,0,0,Puting Beliung,2022
12,Kalimantan Utara,4,0,0,0,0,7,4,0,0,0,0,0,0,0,0,Puting Beliung,2022
13,Sulawesi Utara,8,0,0,0,1,4,8,0,0,0,0,0,0,0,0,Puting Beliung,2022
14,Sulawesi Tengah,7,0,0,0,0,0,5,0,0,3,0,0,0,0,0,Puting Beliung,2022
15,Sulawesi Selatan,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,Puting Beliung,2022
16,Sulawesi Tenggara,3,0,0,0,0,0,16,0,0,0,0,0,0,0,0,Puting Beliung,2022
17,Papua,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0,Puting Beliung,2022

In [6]:
df['id'] = df[['Wilayah', 'Jenis Bencana','Tahun']].sum(axis=1).map(hash)

In [7]:
df

,Wilayah,Jumlah,Meninggal,Hilang,Terluka,Menderita,Mengungsi,Rumah,Pendidikan,Kesehatan,Peribadatan,Fasum,Perkantoran,Jembatan,Pabrik,Kios,Jenis Bencana,Tahun,id
0,Aceh,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Puting Beliung,2022,8543438165990499114
1,Sumatera Utara,19,0,0,0,3652,0,803,0,0,0,8,0,0,0,0,Puting Beliung,2022,-9129522240541270886
2,Sumatera Barat,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Puting Beliung,2022,6263507462038765455
3,Sumatera Selatan,63,0,0,11,171,84,669,2,2,1,7,15,0,0,2,Puting Beliung,2022,-5384625073463145789
4,Lampung,3,0,0,0,100,0,28,0,0,0,0,0,0,0,0,Puting Beliung,2022,4032544041898762264
5,Bangka Belitung,24,0,0,0,52,183,174,1,0,1,0,1,0,0,0,Puting Beliung,2022,-4323934236605449301
6,Kepulauan Riau,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,Puting Beliung,2022,3622251699889910245
7,Jawa Barat,88,0,0,1,263,4,542,0,0,0,5,0,0,0,7,Puting Beliung,2022,-4172647100127863260
8,Jawa Tengah,316,1,0,10,33,31,1267,16,3,11,29,1,1,6,17,Puting Beliung,2022,-6160434174730638774
9,Jawa Timur,78,0,0,6,0,11,231,4,0,2,1,2,0,2,16,Puting Beliung,2022,-7332032656612423542
10,Nusa Tenggara Barat,1,0,0,0,0,10,10,0,0,0,0,0,0,0,0,Puting Beliung,2022,-8063306150661036980
11,Kalimantan Selatan,1,0,0,0,27,0,1,0,0,0,0,0,0,0,0,Puting Beliung,2022,-502916662515351933
12,Kalimantan Utara,4,0,0,0,0,7,4,0,0,0,0,0,0,0,0,Puting Beliung,2022,6170715927579166178
13,Sulawesi Utara,8,0,0,0,1,4,8,0,0,0,0,0,0,0,0,Puting Beliung,2022,-2250775400715298765
14,Sulawesi Tengah,7,0,0,0,0,0,5,0,0,3,0,0,0,0,0,Puting Beliung,2022,6279137909206803322
15,Sulawesi Selatan,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,Puting Beliung,2022,6281138674243225077
16,Sulawesi Tenggara,3,0,0,0,0,0,16,0,0,0,0,0,0,0,0,Puting Beliung,2022,-4305101660199921237
17,Papua,1,0,0,0,0,0,4,0,0,0,0,0,0,0,0,Puting Beliung,2022,5366987442909265699

In [9]:
import os

In [10]:
excel_dir = 'E:/tugas_koko/Mencari_Kerja/Kerjaan/Data'
excel_files = [f for f in os.listdir(excel_dir) if f.endswith('.json')]
print(excel_files)

[]

In [1]:
from Preprocess import processing_data
import os

In [6]:
excel_dir = 'E:/tugas_koko/Mencari_Kerja/Kerjaan/Data'
excel_files = [f for f in os.listdir(excel_dir) if f.endswith('.xlsx')]

        # load data from each file into a dictionary and store in a list

In [7]:
data_list = []
for file_name in excel_files:
    with open(os.path.join(excel_dir, file_name), 'r') as f:
        data = processing_data(f)
        data_list.append(data)

TypeError: expected str, bytes or os.PathLike object, not TextIOWrapper

In [5]:
data_list

[]

In [2]:
# Directory containing xlsx files
dir_path = "E:/tugas_koko/Mencari_Kerja/Kerjaan/Data"

# List of xlsx file names in the directory
file_names = os.listdir(dir_path)

# Process each file
for file_name in file_names:
    if file_name.endswith(".xlsx"):
        file_path = os.path.join(dir_path, file_name)
        df = processing_data(file_path)